name: smart-city-traffic

services:

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    depends_on:
      - zookeeper

  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    entrypoint: ["/opt/spark/sbin/start-master.sh"]
    ports:
      - "8080:8080"

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker
    entrypoint: ["/opt/spark/sbin/start-worker.sh", "spark://spark-master:7077"]
    depends_on:
      - spark-master
    ports:
      - "8081:8081"

  postgres:
    image: postgres:14
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: trafficdb
    ports:
      - "5432:5432"

  airflow:
    image: apache/airflow:2.7.0
    container_name: airflow
    restart: always
    depends_on:
      - postgres
    ports:
      - "8085:8080"
    environment:
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/trafficdb
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW_UID: 50000
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
